# -----------------------------------------------------------------------------
# JELLYSEER CLEANER
# -----------------------------------------------------------------------------

JELLYSEER_API_KEY="your_jellyseer_api_key"
JELLYSEER_URL="http://localhost:5055"
TMDB_API_KEY="your_tmdb_api_key"
RADARR_API_KEY="your_radarr_api_key"
RADARR_URL="http://localhost:7878"
SONARR_API_KEY="your_sonarr_api_key"
SONARR_URL="http://localhost:8989"
